.page {
    max-width: 1280px;
    min-width: 320px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-self: center;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}